<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android" package="com.MU">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:name="mu.NoInternet"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="Mahindra University"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/splash_theme">

        <activity android:name="mu.Euclid" />

        <activity
            android:name="mu.GradesLink"
            android:label="@string/title_activity_grades_link" />
        <activity
            android:name="mu.FeeLink"
            android:label="@string/title_activity_fee_link"
            android:theme="@style/splash_theme.NoActionBar" />
        <activity android:name="mu.Intents" />
        <activity
            android:name="mu.Event"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.Design.NoActionBar" />
        <activity
            android:name="mu.Forms.Forms"
            android:screenOrientation="portrait" />
        <activity
            android:name="mu.Faculty.FacultyMenu"
            android:screenOrientation="portrait" />
        <activity
            android:name="mu.SplashScreen"
            android:exported="true"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

            <meta-data
                android:name="android.app.shortcuts"
                android:resource="@xml/shortcuts" />
        </activity>
        <activity
            android:name="mu.MSAuth.Login"
            android:exported="true"
            android:label="@string/app_name"
            android:screenOrientation="portrait"></activity>
        <activity
            android:name="mu.timetable.TimeTable"
            android:screenOrientation="portrait" />

        <activity android:name="com.microsoft.identity.client.BrowserTabActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <data
                    android:host="com.mu"
                    android:path="/df/WrQM67qwAZFa/4i5uTORfZgI="
                    android:scheme="msauth" />
            </intent-filter>
        </activity>
    </application>

</manifest>