<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android" package="com.MU">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>

    <application
        android:name="MU.NoInternet"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="Mahindra University"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/splash_theme">

        <activity android:name="MU.Moodle" />

        <activity
            android:name="MU.GradesLink"
            android:label="@string/title_activity_grades_link" />
        <activity
            android:name="MU.FeeLink"
            android:label="@string/title_activity_fee_link"
            android:theme="@style/splash_theme.NoActionBar" />
        <activity android:name="MU.Intents" />
        <activity
            android:name="MU.Event"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.Design.NoActionBar" />
        <activity
            android:name="MU.Forms"
            android:screenOrientation="portrait" />
        <activity
            android:name="MU.FacultyMenu"
            android:screenOrientation="portrait" />
        <activity
            android:name="MU.SplashScreen"
            android:screenOrientation="portrait"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

            <meta-data
                android:name="android.app.shortcuts"
                android:resource="@xml/shortcuts" />
        </activity>
        <activity
            android:name="MU.Login"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:exported="true">
        </activity>
        <activity
            android:name="MU.timetable.TimeTable"
            android:screenOrientation="portrait" />

        <activity android:name="com.microsoft.identity.client.BrowserTabActivity">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <data
                    android:host="com.azuresamples.msalandroidapp"
                    android:path="/1wIqXSqBj7w+h11ZifsnqwgyKrY="
                    android:scheme="msauth" />
            </intent-filter>
        </activity>
    </application>

</manifest>